<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
     Solve-Integrate is a website to serve the community of problem solvers (Mainly algorithm problem solvers).
    </p>
    <p>
    	Solve-Integrate provides these features:
    	<ul>
    		<li><%= link_to "Chrome Extension", chrome_extension_path, title: "Find out more about the extension" %>: it helps you find problem materials while you are viewing the problem, and captures your code submitions to online judges, to facilitate archiving your solutions and sharing them with your friends and people who would learn from those solutions</li>
    		<li>
    			A simi-social experience: it enables you to follow your friends or good problem solvers, to keep track of the awesome codes/explanations/hints they give, and you can comment on their materials, and rate them, through out a simple news feed.
    		</li>
    		<li>
    			A hall of fame: to encourage the competitive enviroment.
    		</li>
    	</ul>
    </p>
    <p>
    	What we plan to do:
    	<ul>
    		<li>Training planner: a tool to help coaches create a training path through out this website and help them track the progress of each trainee they have. For example they will create a training path to read a certain explanation about a specific category, and then they'll solve problem A, B, E and then D.</li>
    		<li>
    			Integrate more and more: we'll try to integrate with as much as possible with other tools that helps in the training process, to achieve a full detailed profile of all the members, and to give them more and more abilities to reach others to teach or learn from them.
    		</li>
    		
    	</ul>
    </p>