<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  Problem Solvers is a web application which provides a community for problem solvers, to help them interact with each other, learn from others hints, explanations, or even solutions.
</p>
