<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
     This is a community where you can interact with problem solvers, and learn new problem solving techniques by checking others' solutions, explanations, and hints.
    </p>
    <p>Moreover, it provides a competitive environment, to see who has the best explanations, solutions, or even hints.
    </p>
<p>This website is built upon version 2.0.0 of <a href="http://ruby.railstutorial.org/">Ruby on Rails Tutorial</a>'s sample app.</p>