<h3>Description:</h3>

<p>This is a google-chrome extension That enables you to access problem materials in a better way.</p>

<br>
<h3>How to install this extension:</h3>
<ol>
<li>Download the the extension installer <%= link_to  "solve-integrate-extension" ,asset_path('solve-integrate-extension.crx') %> </li>
<li>Ignore any message that tells you "extensions cannot be added from this website"</li>
<li>Open chrome</li>
<li>Type on the url "chrome://extensions/"</li>
<li>Open the download destination of the extension file, as it won't appear in the downloads bar</li>
<li>Drag the downloaded installer, and drop it to "chrome://extensions/" page on chrome</li>
<li>Enjoy using extension features</li>

</ol>
<br><br>
<h3>Solve Integrate extension features:</h3>
<ul>
<li>Detects when you open problem links (turns from grey to green)</li>
<li>If the detected problem is not present on the server, the extension creates it for you</li>
<li>Shows the count of materials available for this problem</li>
<li>When you click on the extension when inside a problem (the icon of extension is green), the extension shows problem's materials</li>
<li>Detects problem submitions, and adds them to your solutions after your permission</li>
</ul>


<br><br>

<h3>Note:</h3>
<p>We are sorry to make you do these boring steps, but this is just a beta version, it should be uploaded to Google Chrome Store by the first release.</p>
<p>The currently supported online judges are SPOJ, UVA, Live Archive, Code Forces, and we are planning to support more soon, and also the currently available languages are C++ and Java, more will be added soon.</p>