<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Scoring System:
  <ul>
  	<li>
  		+100 points: Adding an explanation for a certain problem.
  	</li>
  	<li>+50 points: Adding a solution for a problem <u>publicly</u>.</li>
  	<li>+10 points: Adding a hint for a problem.</li>
  	<li>+5 points: Adding a category for a problem.</li>
  	<li>-200 points: for any cheeting attembt to get more points, ex: submitting a fake code for a problem, making dummy explanations, unuseful hints, or wrong categories</li>
  </ul>
</p>