<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  <strong>Scoring System:</strong>
  <ul>
  	<li>
  		+100 points: Adding an explanation for a certain problem.
  	</li>
  	<li>+50 points: Adding a solution for a problem <u>publicly</u>.</li>
  	<li>+10 points: Adding a hint for a problem.</li>
  	<li>+5 points: Adding a category for a problem.</li>
  	<li>-200 points: for any cheeting attembt to get more points, ex: submitting a fake code for a problem, making dummy explanations, unuseful hints, or wrong categories (3 cheating attempts bans the user account)</li>

  </ul>
</p>

<p>
  <strong>Main rules:</strong>
  <ul>
    
    <li>No one can see solutions before seeing all explanations</li>
    <li>No one can see explanations before seeing all hints</li>
<li>To see a hint you'll pay a penalty of 20 points and 10 mins (to re-think about the problem before you reveal something else, you won't be able to unlock something else until these 10 mins pass)</li>
<li>To see an explanation you'll pay penalty of 100 points and 20 mins</li>
<li>To see a solution you'll pay a penalty of 150 points and 30 mins</li>
<li>No one can see problem categories until they've added an accepted solution for the problem.</li>
<li>When you submit an accepted solution for a problem you reveal all its data for free, to be enabled to check others solutions and enhance your skills
(Note: Fake data get's -200 points and 3 cheat attempts bans the user account).</li>

<li>When you submit a solution it won't be visible for others before 2 hrs(to prevent Code-forces contest cheating)</li>
<li>You will always have public links (without a certain pattern to be tracked) to share with your friends, to enable instant viewing of your materials.</li>
  </ul>
</p>