<% provide(:title, @title) %>

<% if @problems != nil %>
	

<div class="items_container">
	<h3><%=@title%></h3>
<%= render @problems  %>
</div>

<%= will_paginate %>

<% else %>
	<div class="items_container">
		<h3><%=@title%></h3>
		<p>No problems was found</p>
	</div>
<% end %>