
<div class="row">
  <aside class="span4">
    <section>
      <%= gravatar_for @user %>
      <h1><%= @user.name %></h1>
      <div id="follow_form_<%=@user.id%>" class="follow_form" style="float:none"><%= render :partial => "users/follow_form", object: @user, as: :user  if signed_in? %></div>
    </section>
    <section>
     <%= render :partial => 'shared/stats', object: @user, as: :user %>
    </section>
  </aside>
  <div class="span8">
    <h3><%= yield(:title) %></h3>
    <% if @data.any? %>
      <ul class="items_container">
        <h3><%= @title %></h3>
        <%= render @data %>
      </ul>
      <%= will_paginate @data %>
    <% end %>
  </div>
</div>