<div class="category">
	<h2><%= link_to category_relation.category.name, category_path(category_relation.category), title: "Added by #{category_relation.user.name}" %></h2>
	
	  <% if current_user?(category_relation.user) %>
	  <div class="delete_div">
	    <%= link_to image_tag(asset_path("trash-black.png")), category_relation, method:  :delete,
	                                     confirm: "You sure?"%>
	                                     </div>
	  <% end %>
	
</div>