/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

.accepted_color{
	color: green;
}

.wrong_answer_color{
	color: red;
}

.search_box{
	float:left;
	width: 290px;
	height: 40px;


}
.search_icon img{
		float:left;
		width: 20px;
		height: 20px;
		margin-top: 10px;
}
#search{
		height: 30px;
		width: 170px;
		padding: 2px;
		margin: 5px;
		background-image: url(search_icon.png);
	    background-repeat: no-repeat;
	    background-size: 20px 20px;
	    background-position: 2px 5px;
	    text-indent: 20px;

	    -webkit-border-radius: 30px;

	  	-moz-border-radius: 30px;

	  	border-radius: 30px;

	}

.download_for_chrome{
    position: fixed;
    left: 36px;
    bottom: 0px;
    z-index: 2;
    width: 120px;
    height: 46px;
    text-align: center;
    background-color: #333;
    -webkit-border-top-left-radius: 10px;
  	-webkit-border-top-right-radius: 10px;

  	-moz-border-top-left-radius: 10px;
  	-moz-border-top-right-radius: 10px;

  	border-top-left-radius: 10px;
  	border-top-right-radius: 10px;
}
.download_for_chrome a{
	float: left;
	margin-top: 3px;

}
.download_for_chrome img{
    width: 40px;
    height: 40px;
    margin-right: 5px;
    margin-left: 5px;

}