// Place all the styles related to the Explanations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.explanation{
	float: left;
	margin: 3px;
	width: 100%;
	height: 50px;
	background-color: #e6e6e6;
	a{
		float:left;
		img{
			width: 50px;
			height: 50px;
		}
	}
	h1{
		font-size: 25px;
		font-weight: normal;
		float:left;
		line-height: 50px;
	}
	h3{
		a{
			color: gray;
		}
		
		font-size: 20px;
		font-weight: normal;
		float:left;
		line-height: 50px;
		margin-left: 20px;
	}
	span{
		float:left;
		clear: right;
		line-height: 50px;
	}
	#rateMe{
		margin-top: 10px;
		margin-right: 10px;
		clear: none;
		float: right;
	}
}