// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.follow_form{
  float:right;
}

.user_item_stats{
	float:right;
	padding-top:14px;
	a{
		margin-right: 15px;
	}
}

.user_item_follow_container{
	float: right;
	margin-top: 6px;
	margin-right: 7px;
	input{
		width: 100px;
		height: 37px;
		padding: 0px;
	}

}